.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 512px;
  border-radius: 50%;
  border-color: green;
  border-width: 10px;
  border-style: solid;
  background-color: lightgreen;
}

body {
  
}

.old {
  padding-top: 450px;
  padding-right: 100px;
  padding-bottom: 150px;
  padding-left: 100px;
}

.container {
  width: 100%;
  position: absolute;
  top: 400px;
}

h1 {
  display: block;
  width: 100%;
  text-align: center;
}

H1 {
  font-size: 100PX;
  color: darkgreen;
}